body{
    background-color: #232323;
}

h1{
    color: lightsteelblue;
}
.selected{
    background-color: blue;
}

.square{
    background-color: darkslateblue;
    width: 30%;
    padding-bottom: 30%;
    margin: 1.66%;
    float: left;
}
#container{
    max-width: 700px;
    margin: 0 auto;
}
/*span{*/
    /*color: white;*/
/*}*/
#strip{
    background-color: white;
    height: 30px;
    text-align: center;
}